<h1 class="page-header">Jogos</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <strong>Detalhes do Jogo</strong>
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table-app table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Imagem</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Plataformas</th>
            <th>Gêneros</th>
            <th>Classificação</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= image_tag @game.picture(:thumb) %></td>
            <td nowrap><%= @game.name %></td>
            <td><%= @game.description %></td>
            <td>
              <% @game.platforms.each do |platform| %>
                <p class="nowrap"><%= platform.name %></p>
              <% end %>
            </td>
            <td>
              <% @game.genres.each do |genre| %>
                <p class="nowrap"><%= genre.description %></p>
              <% end %>
            </td>
            <td><%= @game.classification.rating_system %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- /.table-responsive -->
  </div>
  <!-- /.panel-body -->
</div>
<!-- panel-default -->