<h1 class="page-header">Jogos</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    Lista de Jogos
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table-app table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Imagem</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Plataforma</th>
            <th>Gênero</th>
            <th>Classificação</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= image_tag @game.picture(:thumb) %></td>
            <td nowrap><%= @game.name %></td>
            <td><%= @game.description %></td>
            <td><%= @game.platform.name %></td>
            <td><%= @game.genre.description %></td>
            <td><%= @game.classification.rating_system %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- /.table-responsive -->
  </div>
  <!-- /.panel-body -->
</div>
<!-- panel-default -->