<div class="thumbnail">
  <div class="caption">
    <%= image_tag @ad.picture.url(:large), class: "card-img-top img-fluid" %>

    <h3><%= @ad.title %></h3>
    <h4><%= humanized_money_with_symbol @ad.price %></h4>
    <p><%= @ad.description.html_safe %></p>
    <%= rating_for @ad, 'quality', disable_after_rate: false, cancel: true %>
    <h6 class="text-muted"><%= @ad.rates('quality').count %> Aval.</h6>
  </div>
  <!-- /.card -->

  <div class="caption">
    <% if member_signed_in? %>
      <!-- Button trigger modal -->
      <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#commentModal">
        Deixar uma mensagem
      </button>
    <% else %>
      <!-- Button trigger modal -->
      <button class="btn btn-success btn-sm" disabled="disabled" data-toggle="modal" data-target="#commentModal">
        Deixar uma mensagem
      </button>
      <h6 class="red-adv">*Para deixar uma mensagem é necessário estar logado</h6>
    <% end %>
    
    <hr>
    
    <h3>
      Mensagens do anúncio (<%= @ad.comments.count %>)
    </h3>
    
    <%= render partial: 'site/ad_detail/comments' %>
    
  </div>
  <!-- /.card -->
</div>

<%= render partial: 'site/ad_detail/comment_modal' %>
