<!-- Navigation -->
<nav class="navbar navbar-dark navbar-fixed-top" style="padding-right: 10px; margin-bottom: 0" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed custom-nav-bar" data-toggle="collapse" data-target="#sidebar-wrapper">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    
    <%= link_to t('app.name'), root_path, class: "navbar-brand" %>
  </div>
  
  <% unless request.path.include?('/site/profile/') %>
    <%= form_tag site_search_path, method: :get, class: "navbar-form navbar-left", style: "margin-left: 400px;", role: "search" do %>
      <div class="input-group">
        <%= text_field_tag(:q, params[:q] , {class: "form-control", placeholder: "Pesquisar..."}) %>
        <span class="input-group-btn">
          <%= submit_tag("Pesquisar", class: "btn btn-default", id: "btn-pesquisar") %>
        </span>
      </div>
    <% end %>
  <% end %>
  
  <ul class="nav navbar-right" style="padding-top: 5px;">
    <% unless member_signed_in? %>
      <li>
        <%= link_to "Login", new_member_session_path, id: "login-link" %>
      </li>
      <li>
        <%= link_to "Cadastrar-se", new_member_registration_path, id: "cadastro-link" %>
      </li>
    <% else %>
      <li>
        <%# Foi usado um link_to para herdar a formatação, porém as funções de link foram retiradas via .js e .css %>
        <%= link_to "#{current_member.email}", "#", :disabled => "disabled", id: "email-link" %>
      </li>
      <li>
        <%= link_to "Perfil", site_profile_dashboard_index_path, id: "perfil-link" %>
      </li>
      <li>
        <%= link_to "Sair", destroy_member_session_path, method: :delete, id: "sair-link" %>
      </li>
    <% end %>
    <li>
      <%= link_to "Home", root_path, id: "home-link" %>
    </li>
  </ul>
  
</nav>

<% if request.path.include?('/site/profile/') %>
  <div class="toggled">
    <!-- Sidebar -->
    <div class="collapse navbar-collapse" id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li>
          <%= link_to "Dashboard", site_profile_dashboard_index_path %>
        </li>
        <li>
          <%= link_to "Meus dados", edit_site_profile_profile_member_path(current_member.id) %>
        </li>
        <li>
          <%= link_to "Adicionar jogo", new_site_profile_member_game_path %>
        </li>
        <li>
          <%= link_to "Meus jogos", site_profile_member_games_path %>
        </li>
        <li>
          <%= link_to "Nova troca", new_site_profile_exchange_path %>
        </li>
        <li>
          <%= link_to "Minhas trocas", site_profile_exchanges_path %>
        </li>
        <li>
          <%= link_to "Nova venda", new_site_profile_sale_path %>
        </li>
        <li>
          <%= link_to "Minhas vendas", site_profile_sales_path %>
        </li>
        <li>
          <%= link_to "Ofertas recebidas", site_profile_offers_recieved_path %>
        </li>
        <li>
          <%= link_to "Ofertas enviadas", site_profile_offers_performed_path %>
        </li>
      </ul>
    </div>
    <!-- /#sidebar-wrapper -->
  </div>
<% end %>
