<!-- Navigation -->
<nav class="navbar navbar-dark navbar-fixed-top" style="padding-right: 10px; margin-bottom: 0">
  <%= link_to t('app.name'), root_path, class: "navbar-brand" %>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="nav navbar-nav navbar-right">
      <% unless member_signed_in? %>
        <li>
          <%= link_to "Login", new_member_session_path %>
        </li>
        <li>
          <%= link_to "Cadastrar-se", new_member_registration_path %>
        </li>
      <% else %>
        <li>
          <%= link_to "#{current_member.email}", "#" %>
        </li>
        <li>
          <%= link_to "Perfil", site_profile_dashboard_index_path %>
        </li>
        <li>
          <%= link_to "Sair", destroy_member_session_path, method: :delete %>
        </li>
      <% end %>
      <li class="active">
        <%= link_to "Home", root_path %>
      </li>
    </ul>
  </div>
</nav>
