<!-- Navigation -->
<nav class="navbar navbar-dark navbar-fixed-top" style="padding-right: 10px; margin-bottom: 0">
  <%= link_to t('app.name'), root_path, class: "navbar-brand" %>
  
  <% unless request.path.include?('/site/profile/') %>
    <%= form_tag site_search_path, method: :get, class: "navbar-form navbar-left", role: "search" do %>
      <div class="input-group">
        <%= text_field_tag(:q, params[:q] , {class: "form-control", placeholder: "Pesquisar..."}) %>
        <span class="input-group-btn">
          <%= submit_tag("Pesquisar", class: "btn btn-default", id: "btn-pesquisar") %>
        </span>
      </div>
    <% end %>
  <% end %>
  
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="nav navbar-nav navbar-right">
      <% unless member_signed_in? %>
        <li>
          <%= link_to "Login", new_member_session_path %>
        </li>
        <li>
          <%= link_to "Cadastrar-se", new_member_registration_path %>
        </li>
      <% else %>
        <li>
          <%= link_to "#{current_member.email}", "#" %>
        </li>
        <li>
          <%= link_to "Perfil", site_profile_dashboard_index_path, id: "perfil-link" %>
        </li>
        <li>
          <%= link_to "Sair", destroy_member_session_path, method: :delete, id: "sair-link" %>
        </li>
      <% end %>
      <li class="active">
        <%= link_to "Home", root_path, id: "home-link" %>
      </li>
    </ul>
  </div>
</nav>
