<!-- Modal -->
<%= form_tag site_profile_offers_path do %>
  <div class="modal fade" id="offerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <!-- Modal Title -->
          <h4 class="modal-title" id="myModalLabel">Solicitar troca</h4>
        </div>
        <!-- Modal Body -->
        <div class="modal-body">
          <div class="form-group">
            <h5>Tem certeza que deseja realizar a seguinte troca?</h5>
            <%= image_tag @exchange.member_game.game.picture.url(:medium), class: "card-img-top img-fluid" %>
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="glyphicon glyphicon-chevron-right"></span>
            <%= image_tag @exchange.game.picture.url(:medium), class: "card-img-top img-fluid" %>
            
            <br/><br/>
            <% available_games = MemberGame.where(member: current_member).joins(:game).where(:games => {:name => @exchange.game.name}).merge(Game.order(:name)) %>
            <% unless available_games.blank? %>
              <%= collection_select :offer, :member_game_id, available_games, :id, :game_name_with_quality, { :prompt=> 'Selecione...' }, { class: "form-control" } %>
              <p class="red-adv" id="unselected_adv">*Para realizar a solicitação, por favor selecionar um jogo</p>
            <% else %>
              <p class="red-adv">*Para realizar a solicitação, por favor cadastre o jogo requerido no seu perfil</p>
            <% end %>
            
            <%= hidden_field :offer, :exchange_id, value: @exchange.id %>
            <%= hidden_field :offer, :status, value: 'waiting_response' %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          <%= submit_tag "Sim", class: "btn btn-success hidden", id: "btn_submit" %>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
<% end %>