<table class="table-app table-hover table-responsive" style="width: 100%;">
  <thead>
    <tr>
      <th>#</th>
      <th>Jogo</th>
      <th>Preço</th>
      <% if current_page?(:controller => 'offers', :action => 'performed') %>
        <th>Status</th>
        <th>Excluir</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% i = 1 %>
    <% @sale_offers.each do |offer| %>
      <tr>
        <td><%= i %></td>
        <td><%= image_tag offer.sale.member_game.game.picture(:thumb) %></td>
        <% if offer.sale.price == 0 %>
          <td>-</td>
        <% else %>
          <td><%= humanized_money_with_symbol offer.sale.price %></td>
        <% end %>
        <% if current_page?(:controller => 'offers', :action => 'performed') %>
          <td><%= offer.status_i18n %></td>
          <% if offer.status = 0 %>
            <td class="td-ico">
              <%= link_to site_profile_offer_path(offer.id), method: :delete, class: "btn btn-danger btn-sm circle-btn", data: {confirm: t('messages.confirm')} do %>
                <i class="fa fa-times img-center"></i>
              <% end %>
            </td>
          <% else %>
            <%= link_to '#', disabled: "disabled", class: "btn btn-danger btn-sm circle-btn" do %>
                <i class="fa fa-times img-center"></i>
              <% end %>
          <% end %>
        <% end %>
      </tr>
      
      <% i += 1 %>
    <% end %>
  </tbody>
</table>