<h1>Adicionar jogo</h1>

<%= content_for :javascripts do %>
  <%= javascript_include_tag 'site/profile/member_games' %>
<% end %>

<% if @member_game.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <ul>
            <% @member_game.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_for([:site, :profile, @member_game]) do |f| %>
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <%= f.label :game %>
        <%= f.collection_select :game_id, Game.all.order(:name), :id, :name , { :prompt=> 'Selecione...' }, { class: "form-control" } %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <%= f.label :platform %>
        <%= f.grouped_collection_select :platform, Game.order(:name), :platforms, :name, :name, :name, { :prompt=> 'Selecione...' }, { class: "form-control" } %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <%= f.label :quality %>
        <%= f.text_area :quality, { class: "form-control" } %>
      </div>
    </div>
  </div>

  <%= submit_tag "Adicionar", class: "btn btn-success" %>
  <%= link_to "Cancelar", site_profile_member_games_path, class: "btn btn-danger" %>
<% end %>
