<% controle = @offerings %>

<% unless controle.blank? %>
  <% controle.each do |offering| %>
    <div class="col-lg-4 col-md-6 mb-4" style="margin-top: 20px;" id="teste">
      <div class="card h-100" style="margin-top: 10px;">
        <%= image_tag offering.member_game.game.picture.url(:thumb) %>
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="glyphicon glyphicon-chevron-right"></span>
        <%= image_tag offering.game.picture.url(:thumb) %>
        <div class="card-body">
          <h4 class="card-title">
            <%= link_to "#{truncate(offering.member_game.game.name, length: 12)} por #{truncate(offering.game.name, length: 12)}", site_exchange_detail_path(offering.id), remote: true, data: { push: :partial } %>
            <%#= link_to truncate(offering.title, length: 30), site_ad_detail_path(offering), remote: true, data: { push: :partial } %>
          </h4>
          <% if offering.price == 0 %>
            <h5>-</h5>
          <% else %>
            <h5><%= humanized_money_with_symbol offering.price %></h5>
          <% end %>
          <p class="card-text"><%#= truncate(offering.member_game.quality, length: 100) %></p>
        </div>
        <div class="card-footer readonly-star" style="padding-bottom: 5px;">
          <%#= rating_for offering, "quality", disable_after_rate: true %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row col-lg-12">
    <div class="text-center offerings-pager">
        <%= paginate controle, :param_name => "offerings_page" %>
    </div>
  </div>
<% else %>
  <h3 class="red-adv">Não foram encontrados registros para a pesquisa</h1>
<% end %>
