<h1> Meus anúncios </h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Imagem</th>
      <th>Título</th>
      <th>Categoria</th>
      <th>Preço</th>
      <th>Editar</th>
    </tr>
  </thead>
  <tbody>
    <% @ads.each do |ad| %>
      <tr>
        <td><%= ad.id %></td>
        <td><%= image_tag ad.picture(:thumb) %></td>
        <td><%= ad.title %></td>
        <td><%= ad.category.description %></td>
        <td><%= humanized_money_with_symbol ad.price %></td>
        <td class="td-ico">
          <%= link_to edit_site_profile_ad_path(ad.id), class: "btn btn-primary btn-sm circle-btn" do %>
            <i class="fa fa-edit img-center"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
