<!DOCTYPE html>
<html>
<head>
  <title>Gamehub</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  
  <%= favicon_link_tag 'game.ico' %>
</head>
<body>

<%= yield %>

</body>
</html>
